<!doctype html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Don't Forget Lah!</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="bower_components/bootstrap/dist/js/bootstrap.min.js.css" rel="stylesheet" type="text/css">
    <style>
        .red{color:#FF0105}
        .orange{color:#F58302}
        .green{color:#09E500}
    </style>
</head>
<body ng-controller="TodoCtrl as ctrl" ng-init = "tabStatus = 1" ng-cloak> 

    <!-- Container for Logo -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <img src="/img/Logo_Horizontal.png">
        </div>
    </div>
</div>

<!--end of TITLE -->

    <!-- Start or Task Form -->
<!-- Task Form Header -->
<div class="container-fluid">
        <div class="row new-task">
            <div class="col-xs-12">
                <h4>ADD TASK</h4>
            </div>
        </div>
    </div>
    <!-- Creates to-do input Form and fields -->
    <!--The ng-submit directive specifies the function called when the Add button is clicked or ENTER is pressed-->
    <!--$valid is a boolean that specifies whether a form or a specific input field's value is valid -->
    <!--The ng-submit="..." code below, tells Angular to execute ctrl.submit() when button is clicked and the form is valid-->
  
<!--Input Task Name  -->
<div class="row task-form">
        <form class="form-inline" name="todoForm" ng-submit="ctrl.submit() && todoForm.$valid">
            <div class="col-xs-12">
                <label for="task">Task Name:</label>
    <!--Using the ng-model directive, we perform a 2-way data binding between the input field and-->
    <!--the ctrl.newTodo data model. By doing so, we automatically sync the view data and the data model data -->
                <input type="text" class="form-control" placeholder="Enter Task Description" ng-model="ctrl.newTodo.taskName" required/>
            </div>
        
<!-- Input Completion Date -->
<div class="col-xs-12">
        <label for="task">Due Date:</label>
        <input type="date" class="form-control" ng-model="ctrl.newTodo.dueDate" required/>
    </div>

<!-- Input Priority: Radio Form -->
    <div class="col-xs-9" style = "display: inline">
        <label for="Priority">Priority:</label>
        <label for="High"><font color="#FF0105">High</font></label>
        <input type="radio" name="priority" ng-model="ctrl.newTodo.priority" id="high" value="HIGH" required>
        <label for="Normal"><font color="#F58302">Normal</font></label>
        <input type="radio" name="priority" ng-model="ctrl.newTodo.priority" id="normal" value="NORMAL" required>
        <label for="Low"><font color="#09E500">Low</font></label>
        <input type="radio" name="priority" ng-model="ctrl.newTodo.priority" id="low" value="LOW" required>
    </div>
    
<!-- The <button> type attribute specifies the behavior of the button -->
<!-- A button with type=submit submits form data to the server by calling the appropriate function-->
<!-- A button with type=reset resets the field to their initial values-->

<!-- Add Task Button -->
    <div class="row col-xs-2" align = "right">
        <button type="submit" ng-click="tabStatus=1"  style="border: 0; background: none; padding: 10px;">
        <i class="fa fa-plus fa-2x" style="color:green" aria-hidden="true"></i>
        </button>
    </div>

<!-- Reset Button -->
    <div>
         <button type="reset" style="border: 0; background: none; padding: 10px;">
        <i class="fa fa-refresh fa-2x" style="color:skyblue" aria-hidden="true"></i>
        </button> 

    </div>
</div>
<!-- End of Task Form -->

<!-- SORT Bar -->
<div class="container-fluid">
        <div class="row sort-bar">
            <span style = "color: white; font-size: 18px; display: inline;"> SORT BY </span>             
                    <span class="sort-bar">Sort</span>
                    <select class="form-control" ng-model="sortBy" style = "display: inline">
                        <option value="priorityID">Priority</option>
                        <option value="taskName">Task Name</option>
                        <option value="dueDate">Due date</option>
                    </select>
        </div>
    </div>
    
    <!--end of SORT -->

 
<!-- Status Bar 2-->
<!-- When mouseover, there will be an effect on the selected menu being underline-->
<div class = "container-fluid status-bar status-text" align = "center">
        <ul>
            <li class="Active" ng-click = "tabStatus = 1"><a href="#"><Font color = "#FF0105">Active</font></a></li>
            <li class="Completed" ng-click = "tabStatus = 2"><a href="#"><Font color = "#09E500">Completed</font></a></li>
        </ul>
</div>

<!-- Incomplete Tasks Header -->
<div class="container-fluid" ng-show = "tabStatus == 1">
        <div class="row new-task">
            <div class="col-xs-12">
                <h4>ACTIVE</h4>
            </div>
        </div>

    <!--Active tasks-->
   
    <div class="container-fluid" >
            <div class="row todo-list">
                <div class="col-xs-12" ng-repeat="todo in ctrl.todo | orderBy: sortBy" class="todo-list">
                    <div class="thumbnail">
                    <!-- Displaying Task Name-->
                    <h3>{{todo.taskName}}</h3>
                    <!-- Displaying Due Date -->
                    <h5>Due date: {{todo.dueDate | date : "longDate"}}</h5>
                    <!-- Displaying Priority. The exisiting script has bug so it will not display result-->
                    <h5 ng-class = "{'HIGH':'red','NORMAL':'orange','LOW':'green'}[todo.priority]"> {{todo.priority}}</h5>
        
                        <div class="row col-xs-12" align = "left">
                <!-- Check off button with test script -->
                            <button type="success" ng-click="ctrl.changeStatus(false, $index)"
                            style="border: 0; background: none;">
                                <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
                            </button>
        
                <!-- Delete Task Button-->
                            <button type="danger" ng-click="ctrl.remove(false, $index)"
                            style="border: 0; background: none;">
                                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                            </button>
                <!-- [WW] Edit Task Button-->
                            <button type="submit" ng-click="ctrl.editTask(false, $index)" style="border: 0; background: none">
                                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--End of Active tasks-->

<!-- Completed Tasks Header -->
<div class="container-fluid" ng-show = "tabStatus == 2">
        <div class="row new-task">
            <div class="col-xs-12">
                <h4>COMPLETED</h4>
            </div>
        </div>
    
    <div class="container-fluid">
        <div class="row todo-list">
            <div class="col-xs-12" ng-repeat="doneTodo in ctrl.doneTodo | orderBy: sortBy" class="todo-list">
                <div class="thumbnail">
                <!-- Displaying Task Name-->
                <h3>{{doneTodo.taskName}}</h3>
                <!-- Displaying Due Date -->
                <h5>Due date: {{doneTodo.dueDate | date : "longDate"}}</h5>
                <!-- Displaying Priority. The exisiting script has bug so it will not display result-->
                <h5>{{doneTodo.priority}}</h5>

                    <div class="row col-xs-12" align = "left">
            <!-- Revert Back to Active Button-->
                        <button type="danger" ng-click="ctrl.changeStatus(true, $index)"
                        style="border: 0; background: none;">
                            <i class="fa fa-backward fa-2x" aria-hidden="true"></i>
                        </button>
            <!-- Delete Task Button-->
                    <i class="fa fa-trash fa-2x" aria-hidden="true" ng-click="ctrl.remove(true, $index)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
    <!--End of Completed tasks-->
</body>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.slim.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>
