@import url("../bower_components/bootstrap/dist/css/bootstrap.css");
@import url("../bower_components/bootstrap/dist/css/bootstrap.min.css");
@import url("../bower_components/bootstrap/dist/css/bootstrap-theme.css");
@import url("../bower_components/bootstrap/dist/css/bootstrap-theme.min.css");
* {
    margin: 0;
    padding: 0;
}
/* Logo Style */
img {
    display: block;
    max-width: 600px;
    width: auto;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
}
/* End Logo Style */
/* Sort Bar Style */
/* Sort Bar Style */
.sort-bar {
    background-color: black;
    width: 600px;
    height: 46px;
    margin: auto;
    padding: 6px;
    padding-left: 14px;
}
.sort-bar h4 {
    color: white;
    font-size: 20px;
    text-align: right;
    line-height: 30px;
    vertical-align: middle;
    padding-right: 20px;
}

.sort-bar span {
    color: black;
    font-size: 20px;
    padding-left: 10px;
    
}

.sort-bar select {
    width: 160px;
}
/* End Sort Bar Style */


/* Status Bar Style */
ol, ul {
    list-style: none;
}
li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
}
a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
.status-text {
    font-size: 20px;
    font-weight: bolder;
    line-height: 50px;
    vertical-align: middle;
}
/* .status-bar{
    display:flex;
    flex-direction:row;
    width: 630px;
    height: 50px;
    margin: auto;
    border: none;
}
  
.status-bar > div{
    flex: 1 1 auto;
    text-align:center;
} */
  
.active{
    background-color:#fafafa;
    color:black;
}
.completed{
    background-color:#fafafa;
    color:black;
}
/* End Status Bar Style */
/* Add Task Style */
.new-task {
    width: 600px;
    height: 40px;
    margin: auto;
    background-color:#ededed;
}
.new-task h4{
    line-height: 20px;
    vertical-align: middle;
    padding-left: 10px;
}
/* End Task Style */
/* Form Area Style */
.task-form {
    width: 600px;
    height: 160px;
    margin: auto;
    background-color: #fafafa;
}
.task-form h4 {
    line-height: 60px;
    vertical-align: middle;
    padding-left: 10px;
}
/* End Form Area Style */

/* Form Label Style */
label {
    font-size: 16px;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 10px;
}
/* End Form Label Style */
/* Form Input Style */
form {
    padding-top: 10px;
}
.form-control{
    border: none;
    border-radius: 0;
    margin-left: 10px;
}
.form-control select{
    border: none;
    border-radius: 0;
}

input[type=text] {
    border-bottom: none;
}
input[type=date] {
    margin-left: 10px;
}
/* End Form Input Style */
/* Placeholder Style */
::-webkit-input-placeholder {
    text-align: center;
}
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}
 
 :-ms-input-placeholder {  
    text-align: center; 
}

.task-date input{
    padding: 5px;
    width: 180px;
    height: 35px;
}
/* End Placeholder Style */
/* .btn {
    float: right;
    margin-right: 20px;
} */
/* To-Do List Style*/
.thumbnail {
    background-color: white;
    width: 602px;
    height: 160px;
    margin: auto;
    border-radius: 0;
    border: none;
    padding-left: 24px;
}